.rotate {
    border-radius: 0%;
    cursor: ns-resize;
  }
.range {
    width: "75%";
 }

 .wrapper {
    position: relative;
  }
  
  #ciel {
    position: absolute;
    top: 0;
    right: 0;
  }

  .container {
    display: grid;
  }
  
  .content, .overlay {
    grid-area: 1 / 1;
  }